.banner{
	background-color: #FFD6BA;
	width: 1500px;
	height: 250px;
	border-radius: 10px;
	margin: 0 auto;
	box-shadow: 5px 5px 10px #555B6E;
}


.banner-end{
	background-color: #FFD6BA;
	width: 1500px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #555B6E;
	margin-top: 425px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}